html {
	height: 500px;
	width: 500px;
	background: #faf9f7;
}

.productName {
	font-family: avenir;
	text-align: center;
	font-weight: bolder;
	width: 100%;
	color: #ff5e5e;
	font-family: 'Krona One', sans-serif;
}

.cardTextArea,textarea {
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	color: #4f4f4f;
	font-family: 'Roboto', sans-serif;
	background-color: #faf9f7;
	border: 3px double #ff5e5e;
	padding: 16px;
	box-sizing: border-box;

}

.cardTextArea::placeholder {
	color: #737373;
}

.cardTextArea:focus {
	background-color: #faf9f7;
	
}

div {
	font-size: 15px;
	text-align: center;
}

.cardControl {
	background-color:#42C0FB;
	color: white;
	border: none;
	padding: 11px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	font-size: 17px;
	font-family: 'Krona One', sans-serif;
	background-color: #ff5e5e;
	color: #faf9f7;
	line-height: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.successMsg {
	margin-top: 20px;
	padding: 7px 7px 7px 0px;
	text-align: center;
	color: #8edea6;
	font-weight: lighter;
	visibility: hidden;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	margin-bottom: 5px;
}

#getStored, #clearStorage, .copyBtn, .deleteBtn, #exportAll {
	color: white;
	border: none;
	padding: 11px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	font-size: 13px;
	font-family: 'Krona One', sans-serif;
	background-color: #ff5e5e;
	color: #faf9f7;
	line-height: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	margin-bottom: 20px;
	text-align: center;
}

#pastCards {
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

#cardHistory {
	margin-left: 100px;
	margin-right: 100px;
	height: 250px;
	width: 250px;
}

p {
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
}

textarea {
	display: block;
	width: 90%;
	height: 60px;
	margin-bottom: 5px;
	padding-top: 8px;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
}

textarea:nth-of-type(1) {
	margin-top: 5px;
}

.copyBtn {
	margin: 15px;
	font-size: 10px;
	width: 40%;
	box-sizing: border-box;
}

.deleteBtn {
	font-size: 10px;
	padding: 13px;
	box-sizing: border-box;
	width: 40%;
}

#exportAll {
	display: block;
}