html {
	height: 500px;
	width: 500px;
	font-family: 'roboto', sans-serif;
}

nav a {
	color: #4f4f4f;
}

h1 {
	font-family: "acme", avenir;
	text-align: center;
}

label {
	display: inline-block;
	margin-bottom: 20px;
	color: white;
	background: #ff5e5e;
	border-radius: 10px;
	padding: 9px;
	text-align: center;
	font-family: "krona one";
	font-size: 10px;
	width: 160px;
}

input {
	display: inline-block;
	padding: 0;
	border: 2.5px solid #424242;
	margin-right: 10px;
}

input:focus {
	outline: thin dotted black;
	border: none;
}

.revert {
	font-family: 'Krona One', sans-serif;
	background-color: #ff5e5e;
	color: #faf9f7;
	border: none;
	font-size: 10px;
	padding: 9px;
	display: block;
	float: right;
	margin-right: 25px;
	border-radius: 10px;
	width: 150px;

}

.revert:focus {
	outline: none;
	border: 1.7px double #7DCBD8; 
}

li {
	list-style: none;
}

.dynamicBtn {
	border: none;
	padding: 11px;
	margin: 20px auto;
	border-radius: 10px;
	text-align: center;
	font-size: 13px;
	font-family: 'Krona One', sans-serif;
	background-color: #ff5e5e;
	color: #faf9f7;
	line-height: 15px;
	display: block;
}

.dynamicBtn:focus {
	outline: none;
	border: 1.7px double #7DCBD8;
}

.dynamicTxtArea {
	height: 200px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: 3px double #ff5e5e;
}

.dynamicTxtArea::placeholder {
	font-family: "roboto", serif;
	padding: 10px;
}
